.indian-product-orange {
    color: orange;
    font-weight: bold;
  }
  
  .indian-product-green {
    color: green;
    font-weight: bold;
  }
  
  .indian-product-saffron {
    color: #FF9933; /* Saffron color */
    font-weight: bold;
  }
  